### Data Preprocessing

Dealing with the categorical features and tried out some transformations on a previous application 1 file which is grouped by num_group1=0.


**One-hot encoding:** It is used when the categorical feature is not ordinal (i.e., the categories do not have any order) and when the number of categorical values is low enough to handle the increase in feature space.

**Frequency encoding:** Frequency encoding replaces each category with the frequency or count of that category in the dataset. This method groups the categories by their frequencies.

**Label encoding:** It is effective when the frequency of categories is important for the prediction or when dealing with a high number of categories where one-hot encoding might lead to memory issues.

In [9]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from category_encoders import TargetEncoder
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
import polars as pl

In [10]:
df1 = pd.read_parquet("new_aggs/new_aggs/train_applprev_1_grouped_0.parquet")

In [14]:
# Load a Parquet file into a Polars DataFrame
df2 = pl.read_parquet("new_aggs/new_aggs/train_applprev_1_grouped_0.parquet")

In [15]:
df2.head()

shape: (5, 41)
┌─────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ case_id ┆ actualdpd_ ┆ annuity_8 ┆ approvald ┆ … ┆ rejectrea ┆ revolving ┆ status_21 ┆ tenor_203 │
│ ---     ┆ 943P       ┆ 53A       ┆ ate_319D  ┆   ┆ sonclient ┆ account_3 ┆ 9L        ┆ L         │
│ i64     ┆ ---        ┆ ---       ┆ ---       ┆   ┆ _4145042M ┆ 94A       ┆ ---       ┆ ---       │
│         ┆ f64        ┆ f64       ┆ str       ┆   ┆ ---       ┆ ---       ┆ str       ┆ f64       │
│         ┆            ┆           ┆           ┆   ┆ str       ┆ f64       ┆           ┆           │
╞═════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2       ┆ 0.0        ┆ 640.2     ┆ null      ┆ … ┆ a55475b1  ┆ null      ┆ D         ┆ 24.0      │
│ 2       ┆ 0.0        ┆ 1682.4    ┆ null      ┆ … ┆ a55475b1  ┆ null      ┆ D         ┆ 12.0      │
│ 3       ┆ 0.0        ┆ 6140.0    ┆ null      ┆ … ┆ a55475b1  ┆ null      ┆ D         ┆ 12.0      │
│ 4       ┆ 0.0        ┆ 2556.6    ┆ null      ┆ … ┆ a55475b1  ┆ null      ┆ T         ┆ 24.0      │
│ 5       ┆ 0.0        ┆ null      ┆ null      ┆ … ┆ a55475b1  ┆ null      ┆ T         ┆ null      │
└─────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [4]:
df1.shape

(6525979, 41)

### Convert the date columns to date datatype and then separate the days, month and year columns

In [5]:
# List of columns to convert to date format
date_columns = ['approvaldate_319D', 'creationdate_885D', 'dateactivated_425D', 
                'dtlastpmt_581D', 'dtlastpmtallstes_3545839D', 'employedfrom_700D', 
                'firstnonzeroinstldate_307D']

# Convert columns to date format
for column in date_columns:
    df1[column] = pd.to_datetime(df1[column])

# Check the data types after conversion
print(df1[date_columns].dtypes)

approvaldate_319D             datetime64[ns]
creationdate_885D             datetime64[ns]
dateactivated_425D            datetime64[ns]
dtlastpmt_581D                datetime64[ns]
dtlastpmtallstes_3545839D     datetime64[ns]
employedfrom_700D             datetime64[ns]
firstnonzeroinstldate_307D    datetime64[ns]
dtype: object

In [6]:
date_features = ['approvaldate_319D', 'creationdate_885D', 'dateactivated_425D', 
                'dtlastpmt_581D', 'dtlastpmtallstes_3545839D', 'employedfrom_700D', 
                'firstnonzeroinstldate_307D']
for feature in date_features:
    df1[feature] = pd.to_datetime(df1[feature])
    df1[feature + '_year'] = df1[feature].dt.year
    df1[feature + '_month'] = df1[feature].dt.month
    df1[feature + '_day'] = df1[feature].dt.day

datetime_cols = df1.select_dtypes(include=['datetime']).columns
df1.drop(columns=datetime_cols, inplace=True)

### Identify Categorical Columns

In [7]:
categorical_cols = df1.select_dtypes(include=['object']).columns.tolist()
categorical_cols

['cancelreason_3545846M',
 'credacc_status_367L',
 'credtype_587L',
 'district_544M',
 'education_1138M',
 'familystate_726L',
 'inittransactioncode_279L',
 'isbidproduct_390L',
 'isdebitcard_527L',
 'postype_4733339M',
 'profession_152M',
 'rejectreason_755M',
 'rejectreasonclient_4145042M',
 'status_219L']

### One-Hot Encoding for Low Cardinality Features

In [8]:
# Ensure you're working on df1 throughout
onehot_encoder = OneHotEncoder(sparse_output=False)
low_card_features = [
    'credacc_status_367L', 'credtype_587L', 'isbidproduct_390L',
    'isdebitcard_527L', 'status_219L', 'education_1138M',
    'familystate_726L', 'inittransactioncode_279L', 'postype_4733339M'
]

# Fit and transform
onehot_encoded_data = onehot_encoder.fit_transform(df1[low_card_features])

# Create a DataFrame with the encoded data
onehot_encoded_df = pd.DataFrame(onehot_encoded_data, columns=onehot_encoder.get_feature_names_out(low_card_features))

# Update df1 by dropping the original columns and concatenating the new one-hot encoded columns
df1 = pd.concat([df1.drop(columns=low_card_features), onehot_encoded_df], axis=1)

### Frequency Encoding for Medium Cardinality Features

In [ ]:
# Applying frequency encoding
for feature in ['district_544M', 'profession_152M']:
    frequency = df1[feature].value_counts()
    df1[feature] = df1[feature].map(frequency)

### Label Encoding for High Cardinality Features

In [ ]:
label_encoder = LabelEncoder()
high_card_features = ['cancelreason_3545846M', 'rejectreason_755M', 'rejectreasonclient_4145042M']
for column in high_card_features:
    df1[column] = label_encoder.fit_transform(df1[column])

In [ ]:
# Check data types to ensure no column is left as object due to categorical data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6525979 entries, 0 to 6525978
Data columns (total 100 columns):
 #   Column                                Dtype
---  ------                                -----
 0   case_id                               int64
 1   actualdpd_943P                        float64
 2   annuity_853A                          float64
 3   byoccupationinc_3656910L              float64
 4   cancelreason_3545846M                 int32
 5   childnum_21L                          float64
 6   credacc_actualbalance_314A            float64
 7   credacc_credlmt_575A                  float64
 8   credacc_maxhisbal_375A                float64
 9   credacc_minhisbal_90A                 float64
 10  credacc_transactions_402L             float64
 11  credamount_590A                       float64
 12  currdebt_94A                          float64
 13  district_544M                         int64
 14  downpmt_134A                          float64
 15  mainoccupationinc_437A                float64
 16  maxdpdtolerance_577P                  float64
 17  num_group1                            int64
 18  outstandingdebt_522A                  float64
 19  pmtnum_8L                             float64
 20  profession_152M                       int64
 21  rejectreason_755M                     int32
 22  rejectreasonclient_4145042M           int32
 23  revolvingaccount_394A                 float64
 24  tenor_203L                            float64
 25  approvaldate_319D_year                float64
 26  approvaldate_319D_month               float64
 27  approvaldate_319D_day                 float64
 28  creationdate_885D_year                float64
 29  creationdate_885D_month               float64
 30  creationdate_885D_day                 float64
 31  dateactivated_425D_year               float64
 32  dateactivated_425D_month              float64
 33  dateactivated_425D_day                float64
 34  dtlastpmt_581D_year                   float64
 35  dtlastpmt_581D_month                  float64
 36  dtlastpmt_581D_day                    float64
 37  dtlastpmtallstes_3545839D_year        float64
 38  dtlastpmtallstes_3545839D_month       float64
 39  dtlastpmtallstes_3545839D_day         float64
 40  employedfrom_700D_year                float64
 41  employedfrom_700D_month               float64
 42  employedfrom_700D_day                 float64
 43  firstnonzeroinstldate_307D_year       float64
 44  firstnonzeroinstldate_307D_month      float64
 45  firstnonzeroinstldate_307D_day        float64
 46  credacc_status_367L_AC                float64
 47  credacc_status_367L_CA                float64
 48  credacc_status_367L_CL                float64
 49  credacc_status_367L_CR                float64
 50  credacc_status_367L_PCL               float64
 51  credacc_status_367L_PO                float64
 52  credacc_status_367L_None              float64
 53  credtype_587L_CAL                     float64
 54  credtype_587L_COL                     float64
 55  credtype_587L_REL                     float64
 56  credtype_587L_None                    float64
 57  isbidproduct_390L_False               float64
 58  isbidproduct_390L_True                float64
 59  isbidproduct_390L_None                float64
 60  isdebitcard_527L_False                float64
 61  isdebitcard_527L_True                 float64
 62  isdebitcard_527L_None                 float64
 63  status_219L_A                         float64
 64  status_219L_D                         float64
 65  status_219L_H                         float64
 66  status_219L_K                         float64
 67  status_219L_L                         float64
 68  status_219L_N                         float64
 69  status_219L_P                         float64
 70  status_219L_Q                         float64
 71  status_219L_R                         float64
 72  status_219L_S                         float64
 73  status_219L_T                         float64
 74  status_219L_None                      float64
 75  education_1138M_P106_81_188           float64
 76  education_1138M_P157_18_172           float64
 77  education_1138M_P17_36_170            float64
 78  education_1138M_P33_146_175           float64
 79  education_1138M_P97_36_170            float64
 80  education_1138M_a55475b1              float64
 81  familystate_726L_DIVORCED             float64
 82  familystate_726L_LIVING_WITH_PARTNER  float64
 83  familystate_726L_MARRIED              float64
 84  familystate_726L_SINGLE               float64
 85  familystate_726L_WIDOWED              float64
 86  familystate_726L_None                 float64
 87  inittransactioncode_279L_CASH         float64
 88  inittransactioncode_279L_NDF          float64
 89  inittransactioncode_279L_POS          float64
 90  inittransactioncode_279L_None         float64
 91  postype_4733339M_P140_48_169          float64
 92  postype_4733339M_P149_40_170          float64
 93  postype_4733339M_P169_115_83          float64
 94  postype_4733339M_P177_117_192         float64
 95  postype_4733339M_P217_110_186         float64
 96  postype_4733339M_P46_145_78           float64
 97  postype_4733339M_P60_146_156          float64
 98  postype_4733339M_P67_102_161          float64
 99  postype_4733339M_a55475b1             float64
dtypes: float64(93), int32(3), int64(4)
memory usage: 4.8 GB

In [ ]:
df1.shape

(6525979, 100)

In [ ]:
df1.head()

,case_id,actualdpd_943P,annuity_853A,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,...,inittransactioncode_279L_None,postype_4733339M_P140_48_169,postype_4733339M_P149_40_170,postype_4733339M_P169_115_83,postype_4733339M_P177_117_192,postype_4733339M_P217_110_186,postype_4733339M_P46_145_78,postype_4733339M_P60_146_156,postype_4733339M_P67_102_161,postype_4733339M_a55475b1
0,2,0.0,640.2,NaN,75,0.0,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,0.0,1682.4,NaN,75,0.0,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,3,0.0,6140.0,NaN,69,NaN,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,0.0,2556.6,NaN,42,NaN,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5,0.0,NaN,NaN,65,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0