In [1]:
#pip install geopy

In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [3]:
# Define the path to the folder
folder_path = Path("C:/Users/crazy/OneDrive - The City College of New York/DSE I2100 - Applied Machine Learning and Data Mining/Project")
csv_file = folder_path.glob("*.csv").__next__()

# Load CSV file into DataFrame
df = pd.read_csv(csv_file)

C:\Users\crazy\AppData\Local\Temp\ipykernel_36496\545171645.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

In [4]:
df.head() # don't need location (redundant)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070069 entries, 0 to 2070068
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     2070069 non-null  object
 1   CRASH TIME                     2070069 non-null  object
 2   BOROUGH                        1426009 non-null  object
 3   ZIP CODE                       1425759 non-null  object
 4   LATITUDE                       1836747 non-null  float64
 5   LONGITUDE                      1836747 non-null  float64
 6   LOCATION                       1836747 non-null  object
 7   ON STREET NAME                 1631008 non-null  object
 8   CROSS STREET NAME              1288388 non-null  object
 9   OFF STREET NAME                346688 non-null   object
 10  NUMBER OF PERSONS INJURED      2070051 non-null  float64
 11  NUMBER OF PERSONS KILLED       2070038 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  2070069 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   2070069 non-null  int64
 14  NUMBER OF CYCLIST INJURED      2070069 non-null  int64
 15  NUMBER OF CYCLIST KILLED       2070069 non-null  int64
 16  NUMBER OF MOTORIST INJURED     2070069 non-null  int64
 17  NUMBER OF MOTORIST KILLED      2070069 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  2063305 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  1749628 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  147794 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  33347 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  9024 non-null     object
 23  COLLISION_ID                   2070069 non-null  int64
 24  VEHICLE TYPE CODE 1            2056468 non-null  object
 25  VEHICLE TYPE CODE 2            1675211 non-null  object
 26  VEHICLE TYPE CODE 3            142465 non-null   object
 27  VEHICLE TYPE CODE 4            32194 non-null    object
 28  VEHICLE TYPE CODE 5            8750 non-null     object
dtypes: float64(4), int64(7), object(18)
memory usage: 458.0+ MB

In [6]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           644060
ZIP CODE                          644310
LATITUDE                          233322
LONGITUDE                         233322
LOCATION                          233322
ON STREET NAME                    439061
CROSS STREET NAME                 781681
OFF STREET NAME                  1723381
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6764
CONTRIBUTING FACTOR VEHICLE 2     320441
CONTRIBUTING FACTOR VEHICLE 3    1922275
CONTRIBUTING FACTOR VEHICLE 4    2036722
CONTRIBUTING FACTOR VEHICLE 5    2061045
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13601
VEHICLE TYPE CODE 2               394858
VEHICLE TYPE CODE 3              1927604
VEHICLE TYPE CODE 4              2037875
VEHICLE TYPE CODE 5              2061319
dtype: int64

In [7]:
df.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.836747e+06,1.836747e+06,2.070051e+06,2.070038e+06,2.070069e+06,2.070069e+06,2.070069e+06,2.070069e+06,2.070069e+06,2.070069e+06,2.070069e+06
mean,4.062766e+01,-7.375207e+01,3.091991e-01,1.489828e-03,5.643387e-02,7.395889e-04,2.675032e-02,1.144889e-04,2.224172e-01,6.125400e-04,3.155616e+06
std,1.981103e+00,3.724478e+00,6.995734e-01,4.071430e-02,2.438690e-01,2.766095e-02,1.633553e-01,1.074440e-02,6.606841e-01,2.709059e-02,1.505028e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066782e+01,-7.397485e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.153637e+06
50%,4.072084e+01,-7.392727e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.671273e+06
75%,4.076960e+01,-7.386673e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.189034e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.706875e+06

In [8]:
print(len(df['CONTRIBUTING FACTOR VEHICLE 1'].unique()))
df['CONTRIBUTING FACTOR VEHICLE 1'].unique()

62

array(['Aggressive Driving/Road Rage', 'Pavement Slippery',
       'Following Too Closely', 'Unspecified', nan, 'Passing Too Closely',
       'Driver Inexperience', 'Passing or Lane Usage Improper',
       'Turning Improperly', 'Unsafe Lane Changing', 'Unsafe Speed',
       'Reaction to Uninvolved Vehicle', 'Steering Failure',
       'Traffic Control Disregarded', 'Other Vehicular',
       'Driver Inattention/Distraction', 'Oversized Vehicle',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Alcohol Involvement', 'View Obstructed/Limited',
       'Failure to Yield Right-of-Way', 'Illnes', 'Lost Consciousness',
       'Brakes Defective', 'Backing Unsafely', 'Glare',
       'Passenger Distraction', 'Fell Asleep', 'Obstruction/Debris',
       'Tinted Windows', 'Animals Action', 'Drugs (illegal)',
       'Pavement Defective', 'Other Lighting Defects',
       'Outside Car Distraction', 'Driverless/Runaway Vehicle',
       'Tire Failure/Inadequate', 'Fatigued/Drowsy',
       'Headlights Defective', 'Accelerator Defective',
       'Failure to Keep Right', 'Physical Disability',
       'Eating or Drinking', 'Cell Phone (hands-free)',
       'Lane Marking Improper/Inadequate', 'Cell Phone (hand-Held)',
       'Using On Board Navigation Device', 'Other Electronic Device',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Windshield Inadequate',
       'Vehicle Vandalism', 'Prescription Medication',
       'Shoulders Defective/Improper', 'Listening/Using Headphones',
       'Texting', '80', 'Reaction to Other Uninvolved Vehicle', '1',
       'Drugs (Illegal)', 'Illness', 'Cell Phone (hand-held)'],
      dtype=object)

In [9]:
test = df.copy()
test['CONTRIBUTING FACTOR VEHICLE 1'] = test['CONTRIBUTING FACTOR VEHICLE 1'].str.lower()

In [10]:
print(len(test['CONTRIBUTING FACTOR VEHICLE 1'].unique()))
test['CONTRIBUTING FACTOR VEHICLE 1'].unique()

60

array(['aggressive driving/road rage', 'pavement slippery',
       'following too closely', 'unspecified', nan, 'passing too closely',
       'driver inexperience', 'passing or lane usage improper',
       'turning improperly', 'unsafe lane changing', 'unsafe speed',
       'reaction to uninvolved vehicle', 'steering failure',
       'traffic control disregarded', 'other vehicular',
       'driver inattention/distraction', 'oversized vehicle',
       'pedestrian/bicyclist/other pedestrian error/confusion',
       'alcohol involvement', 'view obstructed/limited',
       'failure to yield right-of-way', 'illnes', 'lost consciousness',
       'brakes defective', 'backing unsafely', 'glare',
       'passenger distraction', 'fell asleep', 'obstruction/debris',
       'tinted windows', 'animals action', 'drugs (illegal)',
       'pavement defective', 'other lighting defects',
       'outside car distraction', 'driverless/runaway vehicle',
       'tire failure/inadequate', 'fatigued/drowsy',
       'headlights defective', 'accelerator defective',
       'failure to keep right', 'physical disability',
       'eating or drinking', 'cell phone (hands-free)',
       'lane marking improper/inadequate', 'cell phone (hand-held)',
       'using on board navigation device', 'other electronic device',
       'traffic control device improper/non-working',
       'tow hitch defective', 'windshield inadequate',
       'vehicle vandalism', 'prescription medication',
       'shoulders defective/improper', 'listening/using headphones',
       'texting', '80', 'reaction to other uninvolved vehicle', '1',
       'illness'], dtype=object)

In [11]:
test['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

unspecified                                              705449
driver inattention/distraction                           413948
failure to yield right-of-way                            122906
following too closely                                    110586
backing unsafely                                          76562
other vehicular                                           64238
passing or lane usage improper                            57625
passing too closely                                       51512
turning improperly                                        51115
fatigued/drowsy                                           47397
unsafe lane changing                                      40656
traffic control disregarded                               36716
driver inexperience                                       32389
unsafe speed                                              28922
alcohol involvement                                       22618
lost consciousness                                        20477
reaction to uninvolved vehicle                            20072
pavement slippery                                         19757
prescription medication                                   15413
view obstructed/limited                                   13671
outside car distraction                                   12785
oversized vehicle                                         12562
aggressive driving/road rage                               9779
pedestrian/bicyclist/other pedestrian error/confusion      9670
physical disability                                        9360
passenger distraction                                      8048
brakes defective                                           6914
fell asleep                                                5670
obstruction/debris                                         4265
glare                                                      4117
failure to keep right                                      3304
steering failure                                           2874
tire failure/inadequate                                    2529
pavement defective                                         2449
other electronic device                                    2335
illness                                                    2158
illnes                                                     1681
animals action                                             1568
reaction to other uninvolved vehicle                       1337
drugs (illegal)                                            1295
driverless/runaway vehicle                                 1264
accelerator defective                                      1088
lane marking improper/inadequate                            990
traffic control device improper/non-working                 866
cell phone (hand-held)                                      608
cell phone (hands-free)                                     269
tow hitch defective                                         220
other lighting defects                                      189
tinted windows                                              176
using on board navigation device                            153
vehicle vandalism                                           137
headlights defective                                        137
eating or drinking                                          123
80                                                          101
shoulders defective/improper                                 90
windshield inadequate                                        80
texting                                                      51
listening/using headphones                                   24
1                                                            10
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [12]:
test['ON STREET NAME'].value_counts()

BROADWAY                            17277
ATLANTIC AVENUE                     15322
BELT PARKWAY                        13543
3 AVENUE                            12476
NORTHERN BOULEVARD                  11965
                                    ...
E 45TH STREET                           1
8th avenue                              1
VANCORTLANDT  Park South                1
BUSSING PLACE                           1
NORMAL ROAD                             1
Name: ON STREET NAME, Length: 18392, dtype: int64

In [13]:
test["BOROUGH"].value_counts()

BROOKLYN         453423
QUEENS           382367
MANHATTAN        319612
BRONX            210752
STATEN ISLAND     59855
Name: BOROUGH, dtype: int64

In [14]:
test.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [15]:
geolocator = Nominatim(user_agent="accident_severity_prediction")

def reverse_geocode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon))
        address = location.raw
        return address
    except:
        return None

In [16]:
latitude = 40.751440  # Example latitude
longitude = -73.973970  # Example longitude

street_address = reverse_geocode(latitude, longitude)
print("Street Address:", street_address)

Street Address: {'place_id': 15441054, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'node', 'osm_id': 4555833813, 'lat': '40.7516142', 'lon': '-73.9740562', 'class': 'amenity', 'type': 'fast_food', 'place_rank': 30, 'importance': 9.99999999995449e-06, 'addresstype': 'amenity', 'name': 'Pita Yeero', 'display_name': 'Pita Yeero, 684, 3rd Avenue, Beekman, Manhattan Community Board 6, Manhattan, New York County, City of New York, New York, 10017, United States', 'address': {'amenity': 'Pita Yeero', 'house_number': '684', 'road': '3rd Avenue', 'neighbourhood': 'Beekman', 'suburb': 'Manhattan', 'county': 'New York County', 'city': 'City of New York', 'state': 'New York', 'ISO3166-2-lvl4': 'US-NY', 'postcode': '10017', 'country': 'United States', 'country_code': 'us'}, 'boundingbox': ['40.7515642', '40.7516642', '-73.9741062', '-73.9740062']}

In [17]:
print(type(street_address))

<class 'dict'>

In [18]:
def reverse_geocode(lat, lon):
    try:
        location = geolocator.reverse((lat, lon))
        address = location.raw
        borough = address.get('address', {}).get('suburb')
        zipcode = address.get('address', {}).get('postcode')
        on_street_name = address.get('address', {}).get('road')
        return [borough, zipcode, on_street_name]
    except:
        return [np.nan, np.nan, np.nan]

In [19]:
street_address2 = reverse_geocode(40.683304, -73.917274)
print("Street Address:", street_address2)

Street Address: ['Brooklyn', '11233', 'Decatur Street']

In [33]:
test2 = test.head(50).copy()
test3 = test.copy()

In [21]:
# Function to reverse geocode latitude and longitude
def reverse_geocode(row):
    lat = row['LATITUDE']
    lon = row['LONGITUDE']

    try:
        location = geolocator.reverse((lat, lon))
        address = location.raw
        borough = address.get('address', {}).get('suburb')
        zipcode = address.get('address', {}).get('postcode')
        on_street_name = address.get('address', {}).get('road')
        return [borough, zipcode, on_street_name]
    except:
        return [np.nan, np.nan, np.nan]

In [22]:
# Apply the reverse_geocode function to each row of the dataframe
#new_values = test[['LATITUDE', 'LONGITUDE']].apply(reverse_geocode, axis=1, result_type='expand')

# Replace NaN values in 'borough', 'zipcode', and 'address' columns with the corresponding values from the reverse_geocode function
#test['borough'].fillna(new_values[0], inplace=True)
#test['zipcode'].fillna(new_values[1], inplace=True)
#test['address'].fillna(new_values[2], inplace=True)

In [34]:
# Apply the reverse_geocode function to each row of the dataframe
new_values = test2[['LATITUDE', 'LONGITUDE']].apply(reverse_geocode, axis=1, result_type='expand')

# Replace NaN values in 'borough', 'zipcode', and 'address' columns with the corresponding values from the reverse_geocode function
test2['BOROUGH'].fillna(new_values[0], inplace=True)
test2['ZIP CODE'].fillna(new_values[1], inplace=True)
test2['ON STREET NAME'].fillna(new_values[2], inplace=True)

In [31]:
test2.head(20)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",Loring Avenue,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,Brooklyn,11249,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",Baychester Avenue,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",Pitkin Avenue,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
10,12/13/2021,0:34,Queens County,11385,40.701275,-73.888870,"(40.701275, -73.88887)",MYRTLE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
11,12/14/2021,16:50,QUEENS,11413.0,40.675884,-73.755770,"(40.675884, -73.75577)",SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,...,Unspecified,NaN,NaN,NaN,4487127,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,12/14/2021,8:30,NaN,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,...,Unspecified,NaN,NaN,NaN,4486634,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,12/14/2021,0:59,Brooklyn,11214,40.596620,-74.002310,"(40.59662, -74.00231)",BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4486564,Sedan,NaN,NaN,NaN,NaN
14,12/14/2021,23:10,QUEENS,11434.0,40.666840,-73.789410,"(40.66684, -73.78941)",NORTH CONDUIT AVENUE,150 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486635,Sedan,Sedan,NaN,NaN,NaN
15,12/14/2021,17:58,BROOKLYN,11217.0,40.681580,-73.974630,"(40.68158, -73.97463)",Dean Street,NaN,480 DEAN STREET,...,Unspecified,NaN,NaN,NaN,4486604,Tanker,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,12/14/2021,20:03,BROOKLYN,11226.0,40.650680,-73.958810,"(40.65068, -73.95881)",Flatbush Avenue,NaN,878 FLATBUSH AVENUE,...,NaN,NaN,NaN,NaN,4486991,Sedan,NaN,NaN,NaN,NaN
17,12/14/2021,1:28,NaN,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486284,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,12/11/2021,19:43,BRONX,10463.0,40.872620,-73.904686,"(40.87262, -73.904686)",WEST KINGSBRIDGE ROAD,HEATH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4487040,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19,12/14/2021,14:30,Queens County,11354,40.783268,-73.824850,"(40.783268, -73.82485)",WHITESTONE EXPRESSWAY,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4486537,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN

In [32]:
test3.head(20)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
10,12/13/2021,0:34,NaN,NaN,40.701275,-73.888870,"(40.701275, -73.88887)",MYRTLE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
11,12/14/2021,16:50,QUEENS,11413.0,40.675884,-73.755770,"(40.675884, -73.75577)",SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,...,Unspecified,NaN,NaN,NaN,4487127,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,12/14/2021,8:30,NaN,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,...,Unspecified,NaN,NaN,NaN,4486634,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,12/14/2021,0:59,NaN,NaN,40.596620,-74.002310,"(40.59662, -74.00231)",BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4486564,Sedan,NaN,NaN,NaN,NaN
14,12/14/2021,23:10,QUEENS,11434.0,40.666840,-73.789410,"(40.66684, -73.78941)",NORTH CONDUIT AVENUE,150 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486635,Sedan,Sedan,NaN,NaN,NaN
15,12/14/2021,17:58,BROOKLYN,11217.0,40.681580,-73.974630,"(40.68158, -73.97463)",NaN,NaN,480 DEAN STREET,...,Unspecified,NaN,NaN,NaN,4486604,Tanker,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,12/14/2021,20:03,BROOKLYN,11226.0,40.650680,-73.958810,"(40.65068, -73.95881)",NaN,NaN,878 FLATBUSH AVENUE,...,NaN,NaN,NaN,NaN,4486991,Sedan,NaN,NaN,NaN,NaN
17,12/14/2021,1:28,NaN,NaN,NaN,NaN,NaN,MEEKER AVENUE,LORIMER STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486284,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,12/11/2021,19:43,BRONX,10463.0,40.872620,-73.904686,"(40.87262, -73.904686)",WEST KINGSBRIDGE ROAD,HEATH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4487040,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
19,12/14/2021,14:30,NaN,NaN,40.783268,-73.824850,"(40.783268, -73.82485)",WHITESTONE EXPRESSWAY,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4486537,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN