In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', nrows=10000)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     10000 non-null  object
 1   CRASH TIME                     10000 non-null  object
 2   BOROUGH                        6558 non-null   object
 3   ZIP CODE                       6555 non-null   float64
 4   LATITUDE                       9174 non-null   float64
 5   LONGITUDE                      9174 non-null   float64
 6   LOCATION                       9174 non-null   object
 7   ON STREET NAME                 7324 non-null   object
 8   CROSS STREET NAME              4655 non-null   object
 9   OFF STREET NAME                2676 non-null   object
 10  NUMBER OF PERSONS INJURED      10000 non-null  int64
 11  NUMBER OF PERSONS KILLED       10000 non-null  int64
 12  NUMBER OF PEDESTRIANS INJURED  10000 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   10000 non-null  int64
 14  NUMBER OF CYCLIST INJURED      10000 non-null  int64
 15  NUMBER OF CYCLIST KILLED       10000 non-null  int64
 16  NUMBER OF MOTORIST INJURED     10000 non-null  int64
 17  NUMBER OF MOTORIST KILLED      10000 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  9954 non-null   object
 19  CONTRIBUTING FACTOR VEHICLE 2  7805 non-null   object
 20  CONTRIBUTING FACTOR VEHICLE 3  1046 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  272 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  79 non-null     object
 23  COLLISION_ID                   10000 non-null  int64
 24  VEHICLE TYPE CODE 1            9888 non-null   object
 25  VEHICLE TYPE CODE 2            6714 non-null   object
 26  VEHICLE TYPE CODE 3            972 non-null    object
 27  VEHICLE TYPE CODE 4            257 non-null    object
 28  VEHICLE TYPE CODE 5            76 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 2.2+ MB

In [ ]:
df['NUMBER OF PERSONS INJURED'].unique()

array([2, 1, 0, 4, 3, 5, 7, 6, 9])

In [ ]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

CRASH DATE                          0
CRASH TIME                          0
BOROUGH                          3442
ZIP CODE                         3445
LATITUDE                          826
LONGITUDE                         826
LOCATION                          826
ON STREET NAME                   2676
CROSS STREET NAME                5345
OFF STREET NAME                  7324
NUMBER OF PERSONS INJURED           0
NUMBER OF PERSONS KILLED            0
NUMBER OF PEDESTRIANS INJURED       0
NUMBER OF PEDESTRIANS KILLED        0
NUMBER OF CYCLIST INJURED           0
NUMBER OF CYCLIST KILLED            0
NUMBER OF MOTORIST INJURED          0
NUMBER OF MOTORIST KILLED           0
CONTRIBUTING FACTOR VEHICLE 1      46
CONTRIBUTING FACTOR VEHICLE 2    2195
CONTRIBUTING FACTOR VEHICLE 3    8954
CONTRIBUTING FACTOR VEHICLE 4    9728
CONTRIBUTING FACTOR VEHICLE 5    9921
COLLISION_ID                        0
VEHICLE TYPE CODE 1               112
VEHICLE TYPE CODE 2              3286
VEHICLE TYPE CODE 3              9028
VEHICLE TYPE CODE 4              9743
VEHICLE TYPE CODE 5              9924
dtype: int64

In [ ]:
# dropping CONTRIBUTING FACTOR VEHICLE 3-5
df.drop(columns=['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], inplace=True)

In [ ]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,2,0,Aggressive Driving/Road Rage,Unspecified,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,1,0,Pavement Slippery,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,0,0,Following Too Closely,Unspecified,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,0,0,Unspecified,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,0,0,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
def weights(injuries, accidents):
  return (injuries * 1)